.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navlinks {
  text-decoration: none;
}

.home {
  height: 1000px;
  /* background-image: url("../public/homepage_bg.jpeg"); */
  /* background-size: cover; */
}

.title-homepage {
  /* margin-top: 30vh; */
}

.ul-listingPage {
  display: inline-block;
  list-style: none;
}

.card-listingPage {
  width: 20vh;
  border: 2px black solid;
  border-radius: 5%;
  margin-bottom: 15px;
}

.formDisplay {
  /* display: inline-flex;
  flex-direction: column;
  width: 100px;
  height: 100px; */
}

.label {
  margin-top: 10px;
}

.form-listingForm {
  margin-top: 40px;
  width: 50vh;
}
